:host {
  position: relative;
  display: flex;
  align-items: center;
  width: calc(100% - (117.03px + 30px) - 30px);

  @media only screen and (min-width: 1024px) {
    width: calc(100% - (379.95px + 117.03px) - 50px);
  }

  svg {
    @apply fill-secondary;
  }
}
