<div class="flex justify-between items-center mb-10">
  <div class="inline-flex items-center">
    <button class="text-base mr-6 secondary-btn"
            (click)="onFiltersVisibilityChange()">
      Filters
    </button>

    <h2>{{ title() }}</h2>
  </div>

  <div class="inline-flex items-center">
    <svg class="fill-white mr-4 cursor-pointer" width="30px" height="30px" viewBox="0 0 16 16"
         (click)="onViewTypeChange('grid')" [class.active]="viewType() === 'grid'">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M7 1H1V7H7V1ZM7 9H1V15H7V9ZM9 1H15V7H9V1ZM15 9H9V15H15V9Z"/>
    </svg>

    <svg class="fill-white cursor-pointer" width="30px" height="30px" viewBox="0 0 16 16"
         (click)="onViewTypeChange('list')" [class.active]="viewType() === 'list'">
      <path d="M3 1H1V3H3V1Z"/>
      <path d="M3 5H1V7H3V5Z"/>
      <path d="M1 9H3V11H1V9Z"/>
      <path d="M3 13H1V15H3V13Z"/>
      <path d="M15 1H5V3H15V1Z"/>
      <path d="M15 5H5V7H15V5Z"/>
      <path d="M5 9H15V11H5V9Z"/>
      <path d="M15 13H5V15H15V13Z"/>
    </svg>
  </div>
</div>

<div class="flex main-content">
  <app-genres genresType="movie" [ngStyle]="{ 'display': areFiltersVisible() ? 'block' : 'none' }"/>
  <div class="flex flex-col items-container" [ngClass]="{ 'without-filters': !areFiltersVisible(), 'with-filters': areFiltersVisible() }">
    @if(items().length) {
      <div [ngClass]="{ 'grid-view': viewType() === 'grid', 'list-view': viewType() === 'list' }">
        @for(item of items(); track item.id) {
          <app-card [direction]=" viewType() === 'grid' ? 'vertical' : 'horizontal'" [title]="item.name" [imageSrc]="item.poster_path" [imageAlt]="item.name" [topRightContent]="item.vote_average.toString()" cardLink="./">
            <ng-container description>
              <span class="text-base text-darker-white">{{ item.first_air_date }}</span>
              @if(item.vote_count) {
                <span class="text-base text-darker-white">Votes: {{ item.vote_count }}</span>
              } @else {
                <span class="text-base text-darker-white">No votes yet</span>
              }
            </ng-container>
          </app-card>
        }
      </div>
    }

    @if(loadingState() === LoadingState.FETCHING && !items().length) {
      <app-skeleton height="200px"/>
    }

    @if(loadingState() === LoadingState.LOAD_MORE) {
      <app-loader class="mt-8 mx-auto"/>
    }

    @if(showLoadMore()) {
      <button class="inline-flex text-lg mt-8 mx-auto primary-btn" (click)="onLoadMore()">Load more</button>
    }
  </div>
</div>
