:host {
  .top-rated-items-container {
    height: 410px;

    &::-webkit-scrollbar {
      height: 8px;
    }

    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background: var(--secondary-color);
    }

    &::-webkit-scrollbar-thumb {
      background: var(--primary-color);
    }
  }

  .loader-container {
    width: 100%;
    height: 420px;
  }
}
