:host {
  @apply flex;
  @apply flex-col;
  @apply py-8;

  div {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(3, 1fr);

    @media screen and (min-width: 960px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media screen and (min-width: 1280px) {
      grid-template-columns: repeat(5, 1fr);
    }

    @media screen and (min-width: 1440px) {
      grid-template-columns: repeat(6, 1fr);
    }
  }
}
