:host {
  display: flex;
  flex-direction: column;

  a {
    @apply relative;

    &::after {
      @apply absolute;
      @apply bottom-0;
      @apply left-0;
      @apply w-full;
      @apply bg-darker-white;
      height: 4px;
      content: "";
      border-radius: 100%;
    }
  }

  a.active {
    @apply text-primary;
    @apply italic;

    &::after {
      @apply bg-primary;
    }
  }
}
