:host {
  header {
    border-bottom-width: 1px;
  }

  .active {
    @apply text-primary;
    @apply font-bold;
  }

  .non-mobile-navigation {
    display: none;

    @media only screen and (min-width: 768px) {
      display: flex;
      align-items: center;
    }
  }

  .mobile-menu {
    top: 82px;
    width: 0;
    opacity: 0;
    height: calc(100vh - 82px);
    transition: all .5s;

    &.mobile-menu-active {
      width: 100%;
      opacity: 1;
    }

    @media only screen and (min-width: 768px) {
      display: none;
    }
  }

  .mobile-menu-icon {
    width: 30px;
    height: 20px;

    @media only screen and (min-width: 768px) {
      display: none;
    }

    > div {
      height: 2px;
    }

    &.open > div {
      transition: width .4s ease-in-out;

      &:nth-child(2) {
        width: 75%;
      }
      &:nth-child(3) {
        width: 50%;
      }
    }
  }
}
