<header class="py-4 bg-primary">
    <nav class="flex justify-between items-center wrapper">
        <h1 class="text-2xl font-bold italic tracking-widest">
            <a routerLink="/" class="text-bg-color">Moviez</a>
        </h1>

        <ul class="non-mobile-navigation">
            <li class="mr-2">
                <a routerLink="movies" routerLinkActive="active" class="inline-flex text-bg-color text-lg py-2 px-4 rounded hover:bg-bg-color hover:text-primary hover:font-bold">Movies</a>
            </li>
            <li class="mr-2">
                <a routerLink="tv-series" routerLinkActive="active" class="inline-flex text-bg-color text-lg py-2 px-4 rounded hover:bg-bg-color hover:text-primary hover:font-bold">Tv Series</a>
            </li>
            <li>
                <a routerLink="actors" routerLinkActive="active" class="inline-flex text-bg-color text-lg py-2 px-4 rounded hover:bg-bg-color hover:text-primary hover:font-bold">Actors</a>
            </li>
        </ul>

        <div class="fixed left-0 flex flex-col justify-center items-center bg-primary border-bg-color border-t-2 mobile-menu"
             [ngClass]="{ 'mobile-menu-active': isMobileMenuActive() }">
            <ul class="flex flex-col items-center">
                <li class="mb-4">
                    <a routerLink="movies" routerLinkActive="active" class="inline-flex text-bg-color text-lg py-2 px-4 rounded hover:bg-bg-color hover:text-primary hover:font-bold"
                       (click)="handleMobileMenuVisibility()">Movies</a>
                </li>
                <li class="mb-4">
                    <a routerLink="tv-series" routerLinkActive="active" class="inline-flex text-bg-color text-lg py-2 px-4 rounded hover:bg-bg-color hover:text-primary hover:font-bold"
                       (click)="handleMobileMenuVisibility()">Tv Series</a>
                </li>
                <li>
                    <a routerLink="actors" routerLinkActive="active" class="inline-flex text-bg-color text-lg py-2 px-4 rounded hover:bg-bg-color hover:text-primary hover:font-bold"
                       (click)="handleMobileMenuVisibility()">Actors</a>
                </li>
            </ul>
        </div>

        <div class="mobile-menu-icon flex flex-col justify-between cursor-pointer"
             [ngClass]="{ 'open': isMobileMenuActive() }" (click)="handleMobileMenuVisibility()">
            <div class="w-full bg-bg-color"></div>
            <div class="w-full bg-bg-color"></div>
            <div class="w-full bg-bg-color"></div>
        </div>
    </nav>
</header>
