:host {
  .top-rated-items-container {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(20, 220px);
    min-height: 430px;

    &::-webkit-scrollbar {
      height: 8px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 8px;
    }

    &::-webkit-scrollbar-thumb {
      @apply bg-darker-white;
      border-radius: 8px;
      cursor: pointer;
    }
  }

  .loader-container {
    width: 100%;
    height: 420px;
  }
}
