<div class="py-8">
    <app-section-header title="Popular celebrities" showAllPath="actors" showAllLinkText="View all actors" />

    @if(!loading()) {
        <div class="flex flex-wrap justify-center items-center gap-8">
            @for(celebrity of popularCelebrities(); track celebrity.id) {
                <app-person [person]="celebrity"/>
            }
        </div>
    } @else {
        <div class="flex justify-center items-center loader-container">
            <app-loader height="225px"/>
        </div>
    }
</div>
