<div class="py-8">
    <app-section-header title="Popular celebrities" showAllPath="actors" showAllLinkText="View all actors" />

    @if(!loading()) {
        <div class="flex flex-wrap justify-center items-center gap-8">
            @for(celebrity of popularCelebrities(); track celebrity.id) {
                <a class="inline-flex flex-col items-center cursor-pointer celebrity" [routerLink]="celebrity.path">
                    <div class="mb-4 celebrity-img-container">
                        <img class="rounded-full responsive-img" [src]="celebrity.profile_path" [alt]="celebrity.name" width="185" height="185">
                    </div>
                    <span class="font-semibold">{{ celebrity.name }}</span>
                </a>
            }
        </div>
    } @else {
        <div class="flex justify-center items-center loader-container">
            <app-loader/>
        </div>
    }
</div>
