:host {
  display: flex;
  flex-direction: column;

  svg.active {
    @apply fill-primary;
  }

  .main-content {
    app-genres {
      width: 250px;
      margin-right: 40px;
    }

    .items-container {
      width: calc(100% - 250px - 40px);

      div {
        &.grid-view {
          display: grid;
          grid-gap: 25px;
          grid-template-columns: repeat(2, 1fr);

          @media screen and (min-width: 960px) {
            grid-template-columns: repeat(3, 1fr);
          }

          @media screen and (min-width: 1280px) {
            grid-template-columns: repeat(4, 1fr);
          }

          @media screen and (min-width: 1440px) {
            grid-template-columns: repeat(5, 1fr);
          }
        }

        &.list-view {
          display: flex;
          flex-direction: column;

          app-card:not(:last-of-type) {
            margin-bottom: 25px;
          }
        }
      }
    }
  }
}
