@if(!loading()) {
  <div class="flex justify-between py-8 w-full actor-container">
    <div class="flex flex-col general-info">
      <div class="rounded-t-md img-container">
        @if(actor()?.profile_path) {
          <img class="responsive-img rounded-t-md" [src]="actor()?.profile_path" [alt]="actor()?.name" width="250"/>
        } @else {
          <img class="responsive-img rounded-t-md" src="assets/images/noImageAvailable.jpg" alt="No image available" />
        }
      </div>

      <div class="flex flex-col bg-lighter-dark p-4 rounded-b-md">
        <h3 class="font-semibold text-xl mb-4">Personal Information</h3>

        @if(actorDetails()?.known_for_department) {
          <span class="text-lg mb-1">Known for department</span>
          <span class="text-base mb-3 text-darker-white">{{ actorDetails()?.known_for_department }}</span>
        }

        @if(actorDetails()?.birthday) {
          <span class="text-lg mb-1">Birth Day</span>
          <span class="text-base mb-3 text-darker-white">{{ actorDetails()?.birthday }}</span>
        }

        @if(actorDetails()?.deathday) {
          <span class="text-lg mb-1">Death Day</span>
          <span class="text-base mb-3 text-darker-white">{{ actorDetails()?.deathday }}</span>
        }

        @if(actorDetails()?.place_of_birth) {
          <span class="text-lg mb-1">Place of birth</span>
          <span class="text-base mb-3 text-darker-white">{{ actorDetails()?.place_of_birth }}</span>
        }

        @if(actorDetails()?.also_known_as.length) {
          <span class="text-lg mb-1">Also known as</span>
          <ul>
            @for(known of actorDetails()?.also_known_as; let i = $index; track i) {
              <li class="text-darker-white">{{ known }}</li>
            }
          </ul>
        }
      </div>
    </div>

    <div class="more-info">
      <div class="flex justify-between items-center mb-8">
        <h2>{{ actorDetails()?.name }}</h2>
        <a routerLink="/actors" class="link">All actors</a>
      </div>

      @if(actorDetails()?.biography) {
        <span class="inline-flex text-lg mb-3">Biography</span>
        <p class="mb-6 text-darker-white">{{ actorDetails()?.biography }}</p>
      }

      @if(actor()?.known_for.length) {
        <span class="inline-flex text-lg mb-3">Known for</span>
        <div>

        </div>
      }
    </div>
  </div>
} @else {
  <app-loader/>
}
