:host {
  display: flex;

  .actor-container {
    display: flex;
    flex-direction: column;

    @media(min-width: 1024px) {
      flex-direction: row;
    }
  }

  .img-container {
    width: 240px;

    @media(min-width: 1280px) {
      width: 280px;
    }
  }

  .personal-info {
    display: flex;
    @apply mb-8;

    div:last-of-type {
      width: 100%;
    }

    @media(min-width: 1024px) {
      width: 240px;
      flex-direction: column;
      margin: 0 40px 0 0;
    }

    @media(min-width: 1280px) {
      width: 280px;
    }
  }

  .more-info {
    @media(min-width: 1024px) {
      width: calc(100% - 280px);
    }

    @media(min-width: 1280px) {
      width: calc(100% - 320px);
    }
  }

  .known-for-container {
    display: grid;
    grid-gap: 35px;
    grid-template-columns: repeat(3, 1fr);
  }

  app-loader {
    @apply py-8;
    @apply mx-auto;
  }
}
