<div class="flex justify-between items-center mb-10">
  <h2>POPULAR TV SERIES</h2>

  <div class="inline-flex items-center">
    <svg class="fill-white mr-4 cursor-pointer" width="30px" height="30px" viewBox="0 0 16 16">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M7 1H1V7H7V1ZM7 9H1V15H7V9ZM9 1H15V7H9V1ZM15 9H9V15H15V9Z"/>
    </svg>

    <svg class="fill-white cursor-pointer" width="30px" height="30px" viewBox="0 0 16 16">
      <path d="M3 1H1V3H3V1Z"/>
      <path d="M3 5H1V7H3V5Z"/>
      <path d="M1 9H3V11H1V9Z"/>
      <path d="M3 13H1V15H3V13Z"/>
      <path d="M15 1H5V3H15V1Z"/>
      <path d="M15 5H5V7H15V5Z"/>
      <path d="M5 9H15V11H5V9Z"/>
      <path d="M15 13H5V15H15V13Z"/>
    </svg>
  </div>
</div>

<div class="flex main-content">
  <app-genres genresType="tv"/>
  <div></div>
</div>
