:host {
    @apply relative;
    @apply block;
    @apply rounded-md;
    width: 100%;

    &::after {
      @apply absolute;
      @apply top-0;
      @apply left-0;
      width: 0;
      content: "";
      height: 100%;
      animation: rotation .8s linear infinite;
    }

    @keyframes rotation {
      0% {
        @apply w-0;
        @apply bg-lighter-dark;
      }
      100% {
        @apply w-full;
        @apply bg-dark;
      }
    }
}
