@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  position: relative;
  @apply bg-dark;
  min-height: 100vh;
}

h1, h2, h3, h4 {
  @apply text-primary;
}

a, p, span, li {
  @apply text-white;
}

h2 {
  @apply italic;
  @apply font-semibold;
  @apply uppercase;
  @apply text-2xl;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

// Reusable classes
.wrapper {
  width: 90%;
  max-width: 1440px;
  margin: auto;
}

.responsive-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.link {
  @apply font-semibold;
  @apply text-base;
  @apply text-secondary;
  @apply hover:underline;
}
